<link href="<%= "#{AppConfig[:frontend_prefix]}assets/box_search.css" %>" media="all" rel="stylesheet" type="text/css"/>

<%
  form_target = {:controller => :box_search, :action => :search} if form_target.nil?
%>
<div class="row-fluid">
  <div class="span2"></div>
  <div class="span10">
    <%= form_tag(form_target, {:class => "form-horizontal", :id => "box_search_form"}) do |f| %>
      <h2>
        <%= I18n.t "plugins.box_search.label" %>
        &nbsp;&raquo;
        <input name="indicator" class="box-search-field" placeholder="<%= I18n.t 'plugins.box_search.box_placeholder' %>">
        <input name="collection" class="box-search-field" placeholder="<%= I18n.t 'plugins.box_search.collection_placeholder' %>">
        <%= submit_tag I18n.t("plugins.box_search.go"), :class => "btn btn-primary" %>

      </h2>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div id="box_search_results" class="record-pane">
      <div id="alertBucket" class="alert alert-info">
        <%= I18n.t("plugins.box_search.help_message") %>
      </div>
    </div>
  </div>
</div>


<div id="template_box_search_results"><!--
--></div>
<div id="template_box_search_error_message"><!--
  <div id="alertBucket" class="alert alert-error">
    ${message}
  </div>
--></div>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/box_search.js" %>"></script>
